.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    background-color: rgb(194, 194, 194);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
}

.picture h1 {
    text-align: center;
    color: black;
}

#main-pic {
    max-width: 100%;
    max-height: 70%;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons img {
    width: 4vh;
    height: auto;
    border: 2vh solid rgb(0, 7, 50);
    border-radius: 1rem;
}

.icons h4 {
    text-align: center;
    margin: 0;
    color: black;
}

.popup {
    background-color: rgb(108, 108, 108);
    padding: 1rem 1rem;
    border-radius: 1rem;
    position: absolute;
}

.popup form {
    display: flex;
    flex-direction: column;
}

@media (max-height: 500px) {
    .image {
        display: flex;
        align-items: center;
    }
}

@media (max-height: 400px) {
    .picture h1 {
        font-size: 1rem;
    }
}
